<div class="container">
  <div class="row">
    <div>
      <h2 style="text-align: center">Template Driven Form</h2>
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <mat-horizontal-stepper>
          <mat-step label="Step 1">
            <span class="help-block" *ngIf="!userDataOne.valid && userDataOne.touched">Please Enter All Details!</span>
            <div id="user-data" ngModelGroup="userDataOne" #userDataOne="ngModelGroup">
              <div class="form-group">
                <label for="username">Name</label>
                <input type="text" id="username" class="form-control" name="username" [(ngModel)]="user['name']"
                  #username="ngModel" required />
                <span class="help-block" *ngIf="!username.valid && username.touched">Please Enter Username!</span>
              </div>
              <div class="form-group">
                <label for="email">Mail</label>
                <input type="email" id="email" class="form-control" name="email" [(ngModel)]="user['email']" required
                  email #email="ngModel" />
                <span class="help-block" *ngIf="!email.valid && email.touched">Email is required!</span>
                <span class="help-block" *ngIf="!email.valid && email.touched">Please Enter a Valid Email!</span>
              </div>
              <div class="form-group">
                Gender
                <div class="radio" *ngFor="let gender of genders">
                  <label for="gender">
                    <input type="radio" name="gender" value="{{ gender }}" [(ngModel)]="user['gender']" required
                      #gender="ngModel" />
                    {{ gender }}
                  </label>
                  <span class="help-block" *ngIf="!gender.valid && gender.touched">Please Select Gender!</span>
                </div>
              </div>
              <div class="form-group">
                <label for="dob">DOB</label>
                <input type="date" id="dateOfBirth" class="form-control" name="dob" [(ngModel)]="user['dob']"
                  #dob="ngModel" required />
                <span class="help-block" *ngIf="!dob.valid && dob.touched">Please Enter dob!</span>
              </div>
              <div>
                <button mat-button matStepperNext [disabled]="!userDataOne.valid" type="button" class="btn btn-primary">
                  Next
                </button>
              </div>
            </div>
          </mat-step>
          <mat-step label="Step 2">
            <span class="help-block" *ngIf="!userDataTwo.valid && userDataTwo.touched">Please Enter All values!</span>
            <div id="user-data" ngModelGroup="userDataTwo" #userDataTwo="ngModelGroup">
              <div class="form-group" *ngIf="!editMode">
                <label for="profilePic">Image</label>
                <input type="file" id="profilePic" class="form-control" name="pic" [(ngModel)]="user['profile']"
                  #pic="ngModel" required style="border: none" />
                <span class="help-block" *ngIf="!pic.valid && pic.touched">Please Enter pic!</span>
              </div>
              <div class="form-group">
                <label for="hobby">Hobbies
                  <div class="form-group d-flex">
                    <div *ngFor="let hobby of hobbies">
                      <label class="form-check-label mx-2">
                        <input type="checkbox" id="hobbies" class="form-control form-check-input" value="{{ hobby}}" />
                        {{ hobby }}
                      </label>
                    </div>
                  </div>
                </label>
              </div>
              <div class="form-group">
                <label for="Phone">Mobile Number</label>
                <input type="tel" name="number" id="number" class="form-control" [(ngModel)]="user['phoneNum']"
                  #number="ngModel" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-456-7890" />
                <span class="help-block" *ngIf="!number.valid && number.touched">Number should be in
                  format:-123-456-7890</span>
              </div>
            </div>
            <button mat-button matStepperPrevious class="btn btn-primary" type="button">
              Back
            </button>
            <button mat-button matStepperNext class="btn btn-primary mx-3" type="button"
              [disabled]="!userDataTwo.valid">
              Next
            </button>
          </mat-step>
          <mat-step label="Step 3">
            <span class="help-block" *ngIf="!userDataThree.valid && userDataThree.touched">Please Enter All
              values!</span>
            <div id="user-data" ngModelGroup="userDataThree" #userDataThree="ngModelGroup">
              <div class="form-group">
                <label for="Qualification">Qualification</label>
                <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="dropdownList"
                  [(ngModel)]="user['qualification']" name="qualification" required #qualification="ngModel">
                </ng-multiselect-dropdown>
                <span class="help-block" *ngIf="!qualification.valid && qualification.touched">
                  Please Select Qualification
                </span>
              </div>
              <div class="form-group">
                <label for="profession">Profession</label>
                <select class="form-control dropdown" id="occupation" name="occupation" [(ngModel)]="user['profession']"
                  required #prof="ngModel">
                  <option value="" selected="selected" disabled="disabled">
                    -- select one --
                  </option>
                  <option *ngFor="let item of profession" value="{{ item }}">
                    {{ item }}
                  </option>
                </select>
                <span class="help-block" *ngIf="!prof.valid && prof.touched">Please select profession
                </span>
              </div>
              <div class="form-group">
                <label for="Description">Description</label>
                <div>
                  <textarea name="description" class="form-control" rows="4" cols="40" [(ngModel)]="user['description']"
                    required #desc="ngModel"></textarea>
                  <span class="help-block" *ngIf="!desc.valid && desc.touched">
                    Description is required
                  </span>
                </div>
              </div>
              <!-- <div class="form-group">
              <label for="Contact">Contact Person</label>
              <div
                class="form-group d-flex flex-wrap"
                *ngFor="let list of contact; let i = index"
              >
                <div>
                  <label for="name" class="mx-3">Name</label>
                  <input
                    type="text"
                    name="contactName{{ i }}"
                    id="contactName"
                    [(ngModel)]="list.name"
                    required
                    #contactName="ngModel"
                   
                  />
                </div>
                <div>
                  <label for="phoneNumber" class="mx-3">Phone Number</label>
                  <input
                    type="tel"
                    name="contactNumber{{ i }}"
                    id="contactNumber"
                    [(ngModel)]="list.number"
                    required
                    #contactNumber="ngModel"
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                    
                  />
                </div>
                <div>
                  <button
                    style="margin: -4px 0px 0px 8px"
                    type="button"
                    class="btn btn-danger"
                    (click)="onRemoveContacts(i)"
                  >
                    Remove
                  </button>
                </div>
              </div>
              <button
                type="button"
                class="btn btn-success my-2"
                (click)="onAddContacts()"
              >
                Add One
              </button>
            </div> -->
            </div>
            <div>
              <button mat-button matStepperPrevious class="btn btn-primary" type="button">
                Back
              </button>

              <button [disabled]="form.invalid" class="btn btn-primary mx-3" type="submit">
                {{ !editMode ? "Submit" : "update" }}
              </button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </div>
  </div>
</div>