<div class="container">
  <div class="row">
    <div>
      <h2>Template Driven Form <button class="mat-btn" mat-button mat-dialog-close>X</button> </h2>
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <mat-horizontal-stepper>
          <mat-step label="Step 1">
             <div id="user-data" ngModelGroup="userDataOne" #userDataOne="ngModelGroup">
              <div class="form-group">
                <label for="username">Name</label>
                <input type="text" id="username" class="form-control" name="username" [(ngModel)]="user['name']"
                  #username="ngModel" required />
                <span class="help-block" *ngIf="!username.valid && username.touched">Please Enter NAME!</span>
              </div>
              <div class="form-group">
                <label for="email">Mail</label>
                <input type="email" id="email" class="form-control" name="email" [(ngModel)]="user['email']" required
                  email #email="ngModel" />
                <span class="help-block" *ngIf="!email.valid && email.touched && email.errors.required">Email is
                  required!</span>
                <span class="help-block" *ngIf="!email.valid && email.touched && email.errors.email">Please Enter a
                  Valid Email!</span>
              </div>
              <div class="form-group">
                Gender :
                <div class="form-check form-check-inline" *ngFor="let gender of genders; let i = index">
                  <label class="form-check-label">
                    <input type="radio" name="gender" class="form-check-input" value="{{ gender }}"
                      [(ngModel)]="user['gender']" required #gender="ngModel" />
                    {{ gender }}
                  </label>
                  <span class="help-block" *ngIf="!gender.valid && gender.touched">Please Select Gender!</span>
                </div>
              </div>
              <div class="form-group">
                <label for="dob">DOB:
                  <input type="date" id="dateOfBirth" class="form-control" name="dob" [(ngModel)]="user['dob']"
                    #dob="ngModel" required >
              </label>
                <span class="help-block" *ngIf="!dob.valid && dob.touched">Please Enter dob!</span>
              </div>
              <div>
                <button mat-button matStepperNext [disabled]="!userDataOne.valid" type="button" class="btn btn-primary">
                  Next
                </button>
              </div>
            </div>
          </mat-step>
          <mat-step label="Step 2">
             <div id="user-data" ngModelGroup="userDataTwo" #userDataTwo="ngModelGroup">
              <div class="form-group" *ngIf="!editMode">
                <label for="profilePic">Profile Pic :</label>
                <input type="file" id="profilePic" class="form-control" name="pic" [(ngModel)]="user['dp']"
                  #pic="ngModel" required style="border: none" />
                <span class="help-block" *ngIf="!pic.valid && pic.touched">Please Enter pic!</span>
              </div>
              <div class="form-group">
                <label for="hobby">Hobbies : </label>
                  <div class="form-group d-flex">
                    <div *ngFor="let hobby of hobbies">
                      <label class="mx-3 form-check-label">
                        <input type="checkbox" id="hobbies" class="form-check-input" name="{{ hobby.id }}"
                          [ngModel]="hobby.selected" #hobby="ngModel" />
                        {{ hobby.name }}
                      </label>
                    </div>
                    <button type="button" class="btn btn-primary" style="padding: 0px 8px 0px 8px;"
                      (click)="addHobbies()">
                      +
                    </button>
                  </div>
                
                <div *ngIf="add == 1">
                  <input type="text" name="newHobbie" ngModel #newHobby="ngModel" required />
                  <button [disabled]="!newHobby.valid" type="button" class="mx-2 btn btn-success"
                    (click)="pushHobby(newHobby.value)">
                    +
                  </button>
                  <button type="button" class="mx-2 btn btn-danger" (click)="add = 0">
                    X
                  </button>
                </div>
              </div>
              <div class="form-group">
                <label for="Phone">Mobile Number</label>
                <input type="tel" name="number" id="number" class="form-control" [(ngModel)]="user['phoneNum']"
                  #number="ngModel" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-456-7890" />
                <span class="text-msg" *ngIf="!number.valid && number.touched">Number should be in
                  format:-123-456-7890</span>
              </div>
            </div>
            <button mat-button matStepperPrevious class="btn btn-primary" type="button">
              Back
            </button>
            <button mat-button matStepperNext class="btn btn-primary mx-3" type="button"
              [disabled]="!userDataTwo.valid">
              Next
            </button>
          </mat-step>
          <mat-step label="Step 3">
             <div id="user-data" ngModelGroup="userDataThree" #userDataThree="ngModelGroup">
              <div class="form-group">
                <label for="Qualification">Qualification</label>
                <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="dropdownList"
                  [(ngModel)]="user['qualification']" name="qualification" required #qualification="ngModel">
                </ng-multiselect-dropdown>
                <span class="help-block" *ngIf="!qualification.valid && qualification.touched">
                  Please Select Qualification
                </span>
              </div>
              <div class="form-group">
                <label for="profession">Profession</label>
                <select class="form-control dropdown" id="occupation" name="occupation" [(ngModel)]="user['profession']"
                  required #prof="ngModel">
                  <option value="" selected="selected" disabled="disabled" aria-placeholder="Select One">
                  </option>
                  <option *ngFor="let item of profession" value="{{ item }}">
                    {{ item }}
                  </option>
                </select>
                <span class="help-block" *ngIf="!prof.valid && prof.touched">Please select profession
                </span>
              </div>
              <div class="form-group">
                <label for="Description">Description : </label>
                <div>
                  <textarea name="description" class="form-control" rows="4" cols="20" [(ngModel)]="user['description']"
                    required #desc="ngModel"></textarea>
                  <span class="help-block" *ngIf="!desc.valid && desc.touched">
                    Description is required
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label for="Contact">Contact Person: </label>
                <div class=" d-flex flex-wrap" *ngFor="let list of contact; let i = index">
                  <div>
                    <label for="name" class="mx-3">Name</label>
                    <input type="text" name="contactName{{ i }}" id="contactName" [(ngModel)]="list.name" required
                      #contactName="ngModel" />
                    <label for="contactNumber" class="mx-3">Phone Number</label>
                    <input type="tel" name="contactNumber{{ i }}" id="contactNumber" [(ngModel)]="list.number" required
                      #contactNumber="ngModel" />
                    <div>
                      <button style="margin: -4px 0px 0px 8px" type="button" class="btn btn-danger"
                        (click)="onRemoveContacts(i)" *ngIf="i >=1"> Remove </button>
                      <button type="button" class="btn btn-info" (click)="onAddContacts()">Add One</button>
                    </div>
                  </div>
                </div>

              </div>
             </div>
            <div>
              <button mat-button matStepperPrevious class="btn btn-primary" type="button">
                Back
              </button>

              <button [disabled]="form.invalid" class="btn btn-primary mx-3" type="submit" (click)="onCloseDialog()">
                {{ !editMode ? "Submit" : "update" }}
              </button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </div>
  </div>
</div>