<div class="container">
  <div class="row">
    <div>
      <h2 style="text-align: center">Reactive Form</h2>
      <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
        <mat-horizontal-stepper>
          <mat-step label="Step 1">
            <span
              *ngIf="
                regForm.get('step1').touched &&
                !regForm.get('step1').valid
              "
              class="help-block"
              >Please Fill All the Details!</span
            >
            <div id="user-data" formGroupName="step1">
              <div class="form-group">
                <label for="username">Name</label>
                <input
                  type="text"
                  id="username"
                  class="form-control"
                  formControlName="name"
                />
                <span
                  *ngIf="
                    regForm.get('step1.name').touched &&
                    regForm.get('step1.name').hasError('required')
                  "
                  class="help-block"
                  >Please Enter Name!</span
                >
              </div>
              <div class="form-group">
                <label for="email">Mail</label>
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  formControlName="email"
                />
                <span
                  *ngIf="
                    regForm.get('step1.email').touched &&
                    regForm.get('step1.email').hasError('required')
                  "
                  class="help-block"
                  >Email is required!</span
                >
                <span
                  *ngIf="
                    regForm.touched &&
                    regForm.get('step1.email').hasError('email')
                  "
                  class="help-block"
                  >Please Enter a Valid Email!</span
                >
              </div>
              <div class="form-group">
                Gender
                <div class="radio" *ngFor="let gender of genders">
                  <label for="gender">
                    <input
                      type="radio"
                      value="{{ gender }}"
                      formControlName="gender"
                    />
                    {{ gender }}
                  </label>
                  <span
                    *ngIf="
                      regForm.get('step1.gender').touched &&
                      regForm.get('step1.gender').hasError('required')
                    "
                    class="help-block"
                    >Please Select Gender!</span
                  >
                </div>
              </div>
              <div class="form-group">
                <label for="dob">DOB</label>
                <input
                  type="date"
                  id="dateOfBirth"
                  class="form-control"
                  formControlName="dob"
                />
                <span
                  *ngIf="
                    regForm.get('step1.dob').touched &&
                    regForm.get('step1.dob').hasError('required')
                  "
                  class="help-block"
                  >Please enter dob!</span
                >
              </div>
              <button
                mat-button
                matStepperNext
                [disabled]="!regForm.get('step1').valid"
                type="button"
                class="btn btn-primary"
              >
                Next
              </button>
            </div>
          </mat-step>
          <mat-step label="Step 2">
            <span
              *ngIf="
                regForm.get('step2').touched &&
                !regForm.get('step2').valid
              "
              class="help-block"
              >Please Enter All Values!</span
            >
            <div id="user-data" formGroupName="step2">
              <div class="form-group" *ngIf="!editMode">
                <label for="profilePic">Profile Image</label>
                <input
                  type="file"
                  id="profilePic"
                  class="form-control"
                  formControlName="dp"
                />
                <span
                  *ngIf="
                    regForm.get('step2.dp').touched &&
                    regForm.get('step2.dp').hasError('required')
                  "
                  class="help-block"
                  >Please Enter pic!</span
                >
              </div>
              <div class="form-group">
                <label for="hobby"
                  >Hobbies
                  <div class="form-group d-flex">
                    <div class="form-check form-check-inline"
                      *ngFor="let hobby of hobbies; let i = index"
                      formArrayName="hobbies"
                    >
                      <label class="form-check-label mx-2">
                        <input
                          type="checkbox"
                          id="hobbies"
                          class="form-control form-check-input"
                          value="{{ hobby.name }}"
                          (change)="getSelectedHobby($event)"
                          [checked]="hobby.selected"
                        />
                        {{ hobby }}
                      </label>
                    </div>
                  </div>
                </label>
              </div>
              <div class="form-group">
                <label for="Phone">Mobile Number</label>
                <input
                  type="tel"
                  id="number"
                  class="form-control"
                  formControlName="phoneNum"
                  placeholder="123-456-7890"
                />
                <span
                  *ngIf="regForm.get('step2.phoneNum').touched"
                  class="help-block"
                  >{{
                    regForm.get("step2.phoneNum").hasError("pattern")
                      ? "Number should be in format:-123-456-7890"
                      : ""
                  }}
                  {{
                    regForm.get("step2.phoneNum").hasError("pattern")
                      ? "Number is Required"
                      : ""
                  }}</span
                >
              </div>
            </div>
            <button
              mat-button
              matStepperPrevious
              class="btn btn-primary"
              type="button"
            >
              Back
            </button>
            <button
              mat-button
              matStepperNext
              class="btn btn-primary mx-3"
              type="button"
              [disabled]="!regForm.get('step2').valid"
            >
              Next
            </button>
          </mat-step>
          <mat-step label="Step 3">
            <span
              *ngIf="
                regForm.get('step3').touched &&
                !regForm.get('step3').valid
              "
              class="help-block"
              >Please Enter All Values!</span
            >
            <div id="user-data" formGroupName="step3">
              <div class="form-group">
                <label for="Qualification">Qualification</label>
                <ng-multiselect-dropdown
                  [settings]="dropdownSettings"
                  [data]="dropdownList"
                  formControlName="qualification"
                >
                </ng-multiselect-dropdown>
                <span
                  *ngIf="
                    regForm.get('step3.qualification').touched &&
                    regForm
                      .get('step3.qualification')
                      .hasError('required')
                  "
                  class="help-block"
                >
                  Please Select Qualification
                </span>
              </div>
              <div class="form-group">
                <label for="profession">Profession</label>
                <select
                  class="form-control dropdown"
                  id="occupation"
                  formControlName="profession"
                >
                  <option value="" selected="selected" disabled="disabled">
                    -- select one --
                  </option>
                  <option *ngFor="let item of profession" value="{{ item }}">
                    {{ item }}
                  </option>
                </select>
                <span
                  *ngIf="
                    regForm.get('step3.profession').touched &&
                    regForm.get('step3.profession').hasError('required')
                  "
                  class="help-block"
                  >Please select profession
                </span>
              </div>
              <div class="form-group">
                <label for="Description">Description</label>
                <div>
                  <textarea
                    class="form-control"
                    rows="4"
                    cols="40"
                    formControlName="description"
                  ></textarea>
                  <span
                    *ngIf="
                      regForm.get('step3.description').touched &&
                      regForm
                        .get('step3.description')
                        .hasError('required')
                    "
                    class="help-block"
                  >
                    Description is required
                  </span>
                </div>
              </div>
              <div formArrayName="contacts">
                <label for="Contact">Contact Person</label>
                <div
                  class="form-group d-flex flex-wrap"
                  *ngFor="let list of controls; let i = index"
                  [formGroupName]="i"
                >
                  <div>
                    <label for="name" class="mx-3">Name</label>
                    <input
                      type="text"
                      id="contactName"
                      formControlName="name"
                      placeholder="{{
                        regForm.get('step3.contacts').hasError &&
                        regForm.get('step3.contacts').touched
                          ? 'name is required'
                          : ''
                      }}"
                    />
                  </div>
                  <div>
                    <label for="phoneNumber" class="mx-3">Phone Number</label>
                    <input
                      type="tel"
                      id="contactNumber"
                      formControlName="number"
                      placeholder="{{
                        regForm
                          .get('step3.contacts')
                          .hasError('required') &&
                        regForm.get('step3.contacts').touched
                          ? 'number is required'
                          : 'format:-123-456-7890'
                      }}"
                    />
                  </div>
                  <div>
                    <button
                      style="margin: -4px 0px 0px 8px"
                      type="button"
                      class="btn btn-danger"
                      (click)="onRemoveContacts(i)"
                      *ngIf="i >=1"
                    > Remove </button>
                    <button
                    type="button"
                    class="btn btn-success my-2"
                    (click)="onAddContacts()"
                  >
                    Add One
                  </button>
                  </div>
                </div>
               
              </div>
            </div>
            <div>
              <button
                mat-button
                matStepperPrevious
                class="btn btn-primary"
                type="button"
              >
                Back
              </button>
              <button
                [disabled]="!regForm.valid"
                class="btn btn-primary mx-3"
                type="submit"
              >
                {{ !editMode ? "Submit" : "update" }}
              </button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </div>
  </div>
</div>
