/* You can add global styles to this file, and also import other style files */
.container{
    
    width: 700px;  
    height: 500px;  
   
   
    } 
.button{
    margin-top: 10px;
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.form-label{
    margin: 10px;
}
.btn-form2{
    margin: 10px;
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.next-btn{
    text-align: center;  
    width: 10;  
    height: 10;  
    padding-top: 10px;  
    
}
.btn-add-more{
    text-align: right;  
    width: 10;  
    height: 10;  
    padding-top: 10px; 
    margin-right: 50px; 
}
.text-msg{
    color: red;
    margin: 10px;
  }
  
  .example-radio-group {
      display: flex;
      flex-direction: column;
      margin: 15px 0;
      align-items: flex-start;
    }
    
    .example-radio-button {
      margin: 5px;
    }
    .hobby-section{
      margin: 15px;;
    }
  
    table, th, td {
        border: 1px solid;
        padding: 15px;
        text-align: left;
      }
  
  
    .btn{
      text-align: center;
      padding: 2px;
      margin: 5px;
     
    }
    input{
      margin: 10px 5px 10px 5px;
    }
    label{
      margin: 5px;
    }
    h2{

text-align: center;    }
    